main {
    
    #homeSection {
        background-color: #eee;
    }

    #aboutSection {
        background-color: #fafafa;
    }

    #projectsSection {
        background-color: #ffffff;
    }

    #contactSection {
        background-color: #fafafa;
    }
}